:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

#app {
    background-color: #111111;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.scene {
    width: 100%;
    height: 100%;
    display: flex;

    font-size: 100px;
    font-weight: bold;
    text-shadow: 1px 1px 5px white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiddenText {
    opacity: 0;
}

.text {
    margin-right: 40px;
}

.highText {
    font-size: 100px;
}

.mediumText {
    font-size: 80px;
}

.lowText {
    font-size: 60px;
}

.new-row,
hr {
    display: block;
    width: 100%;
    height: 0px;
}
