:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app {
    background-color: #111111;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.scene {
    width: 100%;
    height: 100%;
    display: flex;

    font-size: 150px;
    font-weight: bold;
    text-shadow: 1px 1px 5px white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.furcation {
    width: 100%;
    height: 100%;
    position: relative;
}

.frucrationItem {
    position: absolute;
}

.furcationShadow {
    text-shadow: 10px 15px 5px #cccccc;
}

.hiddenText {
    opacity: 0;
}

.disabled {
    display: none;
}

.text {
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.largeText {
    font-size: 150px;
}

.extraLargeText {
    font-size: 200px;
}

.highText {
    font-size: 150px;
}

.mediumText {
    font-size: 80px;
}

.lowText {
    font-size: 60px;
}

.new-row,
hr {
    display: block;
    width: 100%;
    height: 0px;
}

.fr {
    text-shadow: 1px -1px 15px #111111;
    font-size: 150px;
}
